+# Node / JS
node_modules/
.next/
out/
coverage/
.env
.env.*
!.env.example
!**/.env.example
*.log

# Android
**/.gradle/
**/build/
**/local.properties
**/*.iml
**/.idea/
**/.DS_Store

# neonctl local project context
.neon
.neon/

# OS
Thumbs.db
.DS_Store
